* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: tomato;
}

header{
    height: 130px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.menus{
    display: flex;
    justify-content: space-between;
    width: 27%;
    margin: 0 75px;
    align-items: center;
    font-size: 30px;
    font-family: arial system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menus a{
    text-decoration: none;
    color: white;
}

.anime-era{
    margin-top: 18px;
    font-size: 20px;
    display: flex;
    margin-right: 160px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline #fcff1e;
}

.anime-era h1{
    color: #fcff1e;
}

.icones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
    font-size: 50px; 
    display: flex;
    gap: 50px;
}

.icones a{
    text-decoration: none;
    color: white;
}

.conteudo{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 23%;
    margin: auto 30px;
}

.conteudo h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 110px;
    font-weight: 800;
    color: white;
}

.conteudo h2{
    color: #fcff1e;
    font-family: arial system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.texto{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
    width: 46%;
    font-size: 33px;
    margin-top: 12px;
}

.estrelas{
    width: 20%;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    margin-top: 27px;
}

.estrelas i{
    color: #fcff1e;
    cursor: pointer;
}

.estrelas i:hover {
    color: #ffc107;
}

.botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 40%;
    gap: 25px;
}

.botao1 i{
    margin-right: 7px;
}

.botao1{
    background-color: #fcff1e;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: none;
    height: 55px;
    width: 280px;
    border-radius: 30px;
    font-size: 30px;
    cursor: pointer;
}

.botao2{
    background-color: #fbff1e00;
    border-color: #fcff1e;
    border-radius: 30px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    height: 55px;
    width: 280px;
    font-size: 30px;
    cursor: pointer;
}

.setas{
    background-color: aquamarine;
    width: 12.5%;
    height: 10%;
    position: absolute;
    top: 85%;
    left: 10%;
    display: flex;
    justify-content: space-between;
}

.setas i{
    font-size: 65px;
    color: rgb(0, 0, 0);
    border-width: 20px;
    border-color: white;
    cursor: pointer;
}

.seta1{
    border-radius: 60px;
    background-color: rgba(222, 184, 135, 0);
    width: 100px;
    height: 100px;
    transform: rotate(-180deg);
}

.seta2{
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0);
    width: 100px;
    height: 100px;
}